<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="main z-depth-3">
    <center>
        <p class="head">MEET OUR TEAM</p>
    </center><br>
    <div class="row light-blue lighten-5 z-depth-4">
        <div class="col-sm-3"> <img class="circle" src="https://i.imgur.com/Ur43esv.jpg"> </div>
        <div class="col-sm-9">
            <p class="name">David Samson &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i> &nbsp; <i class="fa fa-linkedin"></i></p>
            <p class="post"><b>Chief Technical Officer</b></p>
            <p>Here is a color palette based on the material design base colors. Each of these colors is defined with a base color class and an optional lighten or darken class</p>
        </div>
    </div>
    <br>
    <div class="row red lighten-5 z-depth-4">
        <div class="col-sm-3"> <img class="circle" src="https://i.imgur.com/8RKXAIV.jpg"> </div>
        <div class="col-sm-9">
            <p class="name">Iggy Azelea &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i> &nbsp; <i class="fa fa-linkedin"></i></p>
            <p class="post"><b>Human Resources Manager</b></p>
            <p>Here is a color palette based on the material design base colors. Each of these colors is defined with a base color class and an optional lighten or darken class</p>
        </div>
    </div><br>
    <div class="row yellow lighten-5 z-depth-4">
        <div class="col-sm-3"> <img class="circle" src="https://i.imgur.com/J6l19aF.jpg"> </div>
        <div class="col-sm-9">
            <p class="name">Mark Rosio &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i> &nbsp; <i class="fa fa-linkedin"></i></p>
            <p class="post"><b>Experienced Developer</b></p>
            <p>Here is a color palette based on the material design base colors. Each of these colors is defined with a base color class and an optional lighten or darken class</p>
        </div>
    </div>
</div>